/* VARIABLES */
/* CSS RESET */
*, *::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

*::after, ::after,
*::before,
::before {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease-out;
}
a:hover {
  color: #E66446;
}

img,
picture {
  display: block;
  line-height: 0;
  position: relative;
}

button {
  all: unset;
}

/* ESSENTIAL CLASSES */
.backgroundDark {
  background: #6E96A5 url(../content/images/background-noise-20.png);
  color: #F1ECDC;
}

.backgroundLight {
  background: #93BEDA url(../content/images/background-noise-20.png);
  color: #393939;
}

.backgroundGrey {
  background: #647275 url(../content/images/background-noise-20.png);
  color: #F1ECDC;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 1575px;
  max-width: calc(100% - 80px);
  overflow: hidden;
}
.wrapper.wrapperSmall {
  width: 1300px;
}

main .wrapper {
  width: 1535px;
  max-width: calc(100% - 120px);
}
@media only screen and (max-width: 650px) {
  main .wrapper {
    max-width: calc(100% - 30px);
  }
}
main > section {
  padding: 180px 0;
}
@media only screen and (max-width: 1280px) {
  main > section {
    padding: 150px 0;
  }
}
@media only screen and (max-width: 768px) {
  main > section {
    padding: 120px 0;
  }
}
@media only screen and (max-width: 500px) {
  main > section {
    padding: 100px 0;
  }
}
main .formModalTrigger {
  height: 150px;
  width: 150px;
  position: fixed;
  top: 140px;
  right: 70px;
  border-radius: 22px;
  z-index: 98;
  pointer-events: all;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  main .formModalTrigger {
    height: 120px;
    width: 120px;
  }
}
@media only screen and (max-width: 768px) {
  main .formModalTrigger {
    height: 100px;
    width: 100px;
  }
}
@media only screen and (max-width: 650px) {
  main .formModalTrigger {
    right: 15px;
  }
}
@media only screen and (max-width: 500px) {
  main .formModalTrigger {
    top: 80px;
    height: 70px;
    width: 70px;
  }
}
main .formModalTrigger::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23F1EBDCFF' stroke-width='4' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 22px;
  transition: 0.2s ease;
}
main .formModalTrigger:hover svg, main .formModalTrigger:hover path, main .formModalTrigger:hover {
  color: #E66446;
  fill: #E66446 !important;
  cursor: pointer;
}
main .formModalTrigger:hover::before {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23E66446FF' stroke-width='4' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
main .formModalTrigger svg {
  height: 65px;
}
@media only screen and (max-width: 1024px) {
  main .formModalTrigger svg {
    height: 55px;
  }
}
@media only screen and (max-width: 768px) {
  main .formModalTrigger svg {
    height: 50px;
  }
}
@media only screen and (max-width: 500px) {
  main .formModalTrigger svg {
    height: 35px;
  }
}
main .formModalTrigger path {
  transition: 0.2s ease;
}

/* Button Class */
button.button,
a.button {
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  min-height: 50px;
  min-width: 245px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 15px 0 45px;
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #F1ECDC;
  background-color: #A25050;
  border-radius: 25px;
}
@media only screen and (max-width: 550px) {
  button.button,
  a.button {
    min-width: unset;
  }
}
button.button::before,
a.button::before {
  content: "";
  transition: 0.2s ease-in-out;
  position: absolute;
  left: 12px;
  height: 25px;
  width: 25px;
  mask-image: url(../content/icons/chevrons-right.svg);
  background-color: #F1ECDC;
}
button.button.mailIcon::before,
a.button.mailIcon::before {
  mask-image: url(../content/icons/envelope.svg);
}
button.button.scrolldownIcon::before,
a.button.scrolldownIcon::before {
  mask-image: url(../content/icons/arrow-down-from-line.svg);
  width: 20px;
}
button.button.externalLinkIcon::before,
a.button.externalLinkIcon::before {
  mask-image: url(../content/icons/arrow-up-right-from-square.svg);
}
button.button:hover,
a.button:hover {
  background-color: #E66446;
}

/* IMG Aspect Ratios */
.imgRatio-4-3 {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.imgRatio-3-4 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 3/4;
}

.imgRatio-1-1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.imgRatio-4-3 img,
.imgRatio-3-4 img,
.imgRatio-1-1 img {
  -o-object-fit: cover;
  object-fit: cover;
}

/* aspect-ratio fallback */
@supports not (aspect-ratio: auto) {
  picture.imgRatio-1-1,
  picture.imgRatio-3-4,
  picture.imgRatio-4-3 {
    position: relative;
    height: 0;
  }
  picture.imgRatio-4-3 {
    padding-top: 75%;
  }
  picture.imgRatio-3-4 {
    padding-top: 133.3333333333%;
  }
  picture.imgRatio-1-1 {
    padding-top: 100%;
  }
  picture.imgRatio-1-1 img,
  picture.imgRatio-3-4 img,
  picture.imgRatio-4-3 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
/* Footer */
footer {
  padding-top: 160px;
}
footer section {
  position: relative;
  z-index: 95;
  padding-top: 20px;
  padding-bottom: 180px;
}
footer .wrapper {
  overflow: visible;
  padding-top: 110px;
  padding-bottom: 80px;
  width: 1535px;
  max-width: calc(100% - 120px);
}
@media only screen and (max-width: 650px) {
  footer .wrapper {
    max-width: calc(100% - 30px);
  }
}
footer .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-top: solid 3px #F1ECDC;
  border-bottom: solid 3px #F1ECDC;
}
footer .wrapper::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% - 40px);
  border-left: solid 3px #F1ECDC;
  border-right: solid 3px #F1ECDC;
}
@media only screen and (max-width: 650px) {
  footer .wrapper::after {
    display: none;
  }
}
footer .footerContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 768px) {
  footer .footerContent {
    grid-template-columns: 1fr;
  }
}
footer .footerContent span {
  max-width: 690px;
  width: 100%;
  flex-shrink: 0;
}
footer .footerContent span p:last-child {
  margin-bottom: 0;
}
footer .footerContent div {
  min-width: 0;
  height: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 30px;
}
@media only screen and (max-width: 1500px) {
  footer .footerContent div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  footer .footerContent div {
    margin-top: 30px;
    gap: 15px;
    align-items: flex-end;
  }
}
footer .footerContent p,
footer .footerContent h5 {
  margin-bottom: 30px;
}
footer .footerContent .button {
  min-width: 200px;
  height: max-content;
}
@media only screen and (max-width: 768px) {
  footer .footerContent .button {
    min-width: unset;
  }
}
footer .footerLogo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
}
@media only screen and (max-width: 1280px) {
  footer .footerLogo {
    height: 80px;
  }
}
@media only screen and (max-width: 768px) {
  footer .footerLogo {
    height: 70px;
  }
}
@media only screen and (max-width: 1280px) {
  footer .footerLogo svg {
    height: 100%;
  }
}

/* NAVIGATION */
.borderStrokes {
  position: fixed;
  top: 140px;
  width: 100%;
  height: 100%;
  z-index: 90;
  pointer-events: none;
}
@media only screen and (max-width: 650px) {
  .borderStrokes {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  .borderStrokes .wrapper {
    max-width: calc(100% - 60px);
  }
}
@media only screen and (max-width: 768px) {
  .borderStrokes .wrapper {
    max-width: calc(100% - 30px);
  }
}
.borderStrokes > div {
  position: relative;
  margin: auto;
  width: 1575px;
  max-width: calc(100% - 80px);
  height: calc(100% - 140px);
  border-left: solid 3px #F1ECDC;
  border-right: solid 3px #F1ECDC;
}

.mobileFullscreenBlur {
  display: none;
}

nav {
  position: fixed;
  height: 120px;
  width: 100%;
  color: #F1ECDC;
  z-index: 100;
  backdrop-filter: blur(10px);
}
@media only screen and (max-width: 1400px) {
  nav {
    height: 90px;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    height: 75px;
  }
}
@media only screen and (max-width: 500px) {
  nav {
    height: 60px;
  }
}
nav .navLogo {
  height: 100px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}
@media only screen and (max-width: 1400px) {
  nav .navLogo {
    height: 80px;
    position: absolute;
    bottom: unset;
    top: 15px;
    left: 0;
    transform: unset;
  }
}
@media only screen and (max-width: 768px) {
  nav .navLogo {
    height: 70px;
    top: 10px;
  }
}
@media only screen and (max-width: 500px) {
  nav .navLogo {
    height: 55px;
    top: 5px;
  }
}
nav .navLogo svg {
  height: 100%;
  width: 100%;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 40px);
  padding: 10px;
  margin: 20px auto;
  border-right: solid 3px #F1ECDC;
  border-left: solid 3px #F1ECDC;
  overflow: visible;
}
@media only screen and (max-width: 1400px) {
  nav .wrapper {
    justify-content: flex-end;
    height: calc(100% - 20px);
    border: unset;
    padding: 0;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 650px) {
  nav .wrapper {
    max-width: calc(100% - 30px);
  }
}
nav .wrapper::after, nav .wrapper::before {
  content: "";
  width: calc(50% - 40px - 80px);
  display: block;
  border-bottom: solid 3px #F1ECDC;
  position: absolute;
  bottom: -20px;
  left: 20px;
}
nav .wrapper::after {
  right: 20px;
  left: unset;
}
@media only screen and (max-width: 1400px) {
  nav .wrapper::after {
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  nav .wrapper::before {
    width: calc(100% - 20px - 140px);
    bottom: -10px;
    right: 0;
    left: unset;
  }
}
@media only screen and (max-width: 768px) {
  nav .wrapper::before {
    width: calc(100% - 20px - 110px);
  }
}
@media only screen and (max-width: 500px) {
  nav .wrapper::before {
    width: calc(100% - 85px);
    right: -15px;
  }
}
nav menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  nav menu .navMail {
    margin-right: 0rem;
  }
}
nav menu .navMail svg {
  display: none;
}
@media only screen and (max-width: 1400px) {
  nav menu .navMail svg {
    display: block;
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  nav menu .navMail svg {
    display: block;
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 1400px) {
  nav menu .navHome,
  nav menu .navMail span {
    display: none;
  }
}
nav menu li {
  margin: 0 1rem;
}
@media only screen and (max-width: 1400px) {
  nav menu li {
    margin: 0 0.5rem;
  }
}
@media only screen and (max-width: 768px) {
  nav menu li {
    margin: 0 1.5rem;
  }
}
nav menu a {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: 0.2s;
}
@media only screen and (max-width: 1400px) {
  nav menu a {
    font-size: 0.8rem;
  }
}
nav menu a.active, nav menu a:hover {
  color: #E66446;
}
@media only screen and (max-width: 768px) {
  nav menu.navMain {
    position: fixed;
    left: -15px;
    top: 75px;
    height: calc(100vh - 75px);
    width: calc(100% + 30px);
    /**** width 100vw doesn't work because of the scroll bar ****/
    padding: 4rem 15px 0 15px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(110%);
    transition: 0.4s;
  }
}
@media only screen and (max-width: 768px) {
  nav menu.navMain li {
    margin: 0;
    border-bottom: 2px dashed currentColor;
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}
@media only screen and (max-width: 768px) {
  nav menu.navMain li:first-child {
    border-top: 2px dashed currentColor;
  }
}
nav menu.navMain li:last-child {
  margin-right: 0.5;
}
@media only screen and (max-width: 1400px) {
  nav menu.navMain li:last-child {
    margin-right: 0;
  }
}
nav menu.navMain li a {
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  nav menu.navMain li a {
    /*** font size h4 ***/
    font-size: 1.5rem;
    line-height: 1.9rem;
    display: block;
    padding: 1rem 0;
  }
}
nav #mobileNavTrigger {
  display: none;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
@media only screen and (max-width: 768px) {
  nav #mobileNavTrigger {
    display: flex;
  }
}
nav #mobileNavTrigger:hover {
  opacity: 0.7;
}
nav #mobileNavTrigger span {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: currentColor;
  transition: 0.4s;
}
nav #mobileNavTrigger span::before, nav #mobileNavTrigger span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: currentColor;
  transform-origin: center;
  transition: 0.4s;
}
nav #mobileNavTrigger span::before {
  top: -7px;
}
nav #mobileNavTrigger span::after {
  bottom: -7px;
}

body.mobileNavActive #mobileNavTrigger span {
  background-color: unset;
}
body.mobileNavActive #mobileNavTrigger span::before {
  top: 0;
  transform: rotate(45deg);
}
body.mobileNavActive #mobileNavTrigger span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  .mobileFullscreenBlur {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    pointer-events: none;
    backdrop-filter: blur(10px) opacity(0);
    z-index: 99;
    transition: 0.4s;
  }
  body.mobileNavActive .mobileFullscreenBlur {
    backdrop-filter: blur(10px) opacity(1);
  }
  body.mobileNavActive nav menu.navMain {
    transform: translateX(0);
  }
}
/* Form Modal */
.formModal {
  overflow-y: scroll;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s ease-in-out;
  backdrop-filter: blur(10px);
}
.formModal.active {
  pointer-events: all;
  opacity: 1;
}
.formModal .wrapper {
  padding-bottom: 5rem;
  overflow: visible;
  width: 830px;
  margin-top: 250px;
  max-width: calc(100% - 160px);
}
@media only screen and (max-width: 1024px) {
  .formModal .wrapper {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .formModal .wrapper {
    max-width: calc(100% - 80px);
  }
}
@media only screen and (max-width: 550px) {
  .formModal .wrapper {
    max-width: calc(100% - 30px);
  }
}
.formModal .formCross {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #A25050;
  color: #F1ECDC;
  position: absolute;
  top: -60px;
  right: -60px;
  border-radius: 50%;
  transition: 0.2s ease;
}
.formModal .formCross:hover {
  background-color: #E66446;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .formModal .formCross {
    height: 50px;
    width: 50px;
    top: -75px;
    right: 0;
  }
  .formModal .formCross svg {
    transform: scale(0.8);
  }
}
.formModal form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 40px;
  column-gap: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #393939;
}
@media only screen and (max-width: 768px) {
  .formModal form {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 30px;
  }
}
.formModal form .errorMessage {
  z-index: 5;
  position: absolute;
  top: 5px;
  left: 20px;
  transform: translateY(-100%);
  display: block;
  width: max-content;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  color: #f1ecdc;
  padding: 0.5rem 20px;
  background: #e66446;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}
.formModal form .errorMessage::after {
  content: "";
  display: block;
  background: #e66446;
  clip-path: polygon(51% 100%, 0 0, 100% 0);
  height: 10px;
  position: absolute;
  width: 25px;
  bottom: 0px;
  transform: translateY(90%);
}
.formModal form textarea,
.formModal form select,
.formModal form option,
.formModal form input {
  all: unset;
  box-sizing: border-box;
}
.formModal form span {
  position: relative;
  height: 100%;
}
.formModal form span::after {
  content: "";
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%233C4646FF' stroke-width='6' stroke-dasharray='2%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.formModal form span:has(input:focus, textarea:focus)::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .formModal form span:has(textarea) {
    grid-column: span 2;
  }
  .formModal form span:has(button) {
    grid-column: span 2;
  }
  .formModal form span:has(button) button {
    margin: auto;
  }
}
.formModal form label {
  position: absolute;
  z-index: 3;
  text-transform: uppercase;
  line-height: 50px;
  left: 20px;
  opacity: 0.5;
  pointer-events: none;
}
.formModal form label:has(~ input:not(:placeholder-shown),
~ textarea:not(:placeholder-shown)) {
  opacity: 0;
}
.formModal form option,
.formModal form select {
  line-height: 50px;
}
.formModal form option,
.formModal form select,
.formModal form textarea,
.formModal form input {
  height: 50px;
  width: 100%;
  background-color: #F1ECDC;
  border-radius: 50px;
  padding: 0 20px;
}
.formModal form textarea {
  height: 100%;
  min-height: 150px;
  padding: 10px 20px;
  border-radius: 25px;
}

/* Slider Styles */
.sliderControls {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sliderControls .sliderShadow {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.sliderControls .sliderPagination {
  display: flex;
  justify-content: center;
  z-index: 4;
  gap: 10px;
}
.sliderControls .sliderPagination span {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 4px solid #F1ECDC;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .sliderControls .sliderPagination span {
    height: 12px;
    width: 12px;
    border: 3px solid #F1ECDC;
  }
}
.sliderControls .sliderPagination span.active {
  border-color: #A25050;
  background-color: #A25050;
}
.sliderControls .sliderPagination span:hover {
  border-color: #E66446;
  background-color: #E66446;
}
.sliderControls .sliderButtons {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .sliderControls .sliderButtons {
    padding: 10px;
  }
}
.sliderControls .sliderButtons > div {
  height: 45px;
  width: 45px;
  background-color: #A25050;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .sliderControls .sliderButtons > div {
    height: 35px;
    width: 35px;
  }
}
.sliderControls .sliderButtons > div:hover {
  background-color: #E66446;
}
.sliderControls .sliderButtons > div svg {
  fill: #F1ECDC;
  display: block;
  height: 25px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .sliderControls .sliderButtons > div svg {
    height: 20px;
  }
}

.imageSlides {
  position: relative;
}
.imageSlides picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.imageSlides picture.active {
  opacity: 1;
}

.imageSlider .sliderControls .sliderButtons > div svg.playIcon {
  display: none;
}
.imageSlider.pauseingImageSlider .sliderControls .sliderButtons > div svg.playIcon {
  display: block;
}
.imageSlider.pauseingImageSlider .sliderControls .sliderButtons > div svg.pauseIcon {
  display: none;
}/*# sourceMappingURL=base-classes.css.map */